/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@font-face {

    font-family: ExtraBoldInter;
    
    src: url(./assets/fonts/static/Inter-ExtraBold.ttf);
    }
@font-face {
    font-family: BoldInter;
    
    src: url(./assets/fonts/static/Inter-Bold.ttf);
    
}
@font-face {
    font-family: RegularInter;
    
    src: url(./assets/fonts/static/Inter-Regular.ttf);
    
}
@font-face {
    font-family: VariableInter;
    
    src: url(./assets/fonts/static/Inter-VariableFont_slnt\,wght.ttf);
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .container {
    display: grid;
    grid-template-rows: 1fr 5fr  3fr;
} */

body {
    background-color: #F2F1EF;
    margin: 60px 90px;
}

.nav {
    display: grid;
    grid-template-columns: 6fr 4fr;
    place-content: center;
}
.nav-brand {
    margin: 5px 0;
}

.nav-items a{
    margin: 5px 10px;
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-family: RegularInter;
}

.nav-items a:hover {
    color: orange;
    transition: 0.3s;
}

.main-div {
    display: grid;
    grid-template-columns: 6fr 4fr;
    margin: 20px 0;
    grid-column-gap: 20px;
}

/* .main-div1 {
    /* margin: 0 25px; */
/* } */ */

.main-div .main-div1 img {
    height: 300px;
    width: 730px;
}

.main-div1-section {
    display: grid;
    grid-template-columns: 5fr 5fr;
    margin-top: 30px;
    /* margin: 50px 30px 50px 0; */
}

.main-div1-section .bold-text {
    font-size: 50px;
    font-weight: 1000;
    font-family: ExtraBoldInter;
}

.main-div1-section .other-text {
    font-size: 15px;
    font-family: RegularInter;
}

.main-div1-section .other-text button {
    padding: 10px 25px;
    background-color: #F15D51;
    margin: 30px 0;
    font-size: 15px;
    font-family: RegularInter;
    color: white;
    border: 0;
    cursor: pointer;
}

.main-div1-section .other-text button:hover {
    background-color: #050531;
    transition: 0.3s;
} 

.main-div2 {
    background-color: #00001A;
    color: #F2F1EF;
    padding: 10px 30px;
    display: grid;
}

.main-div2 div {
 border-bottom: 1px solid rgba(240, 255, 255, 0.598);
 margin: 10px 0 0;
}

.main-div2 div:nth-child(4) {
    border: 0;
}

.main-div2 .topic h1{
    color: #F3A436;
    font-size: 30px;
    font-family: BoldInter;
    border: 0;
    margin: 10px 0 -20px 0;

}

.main-div2 h1 {
    font-size: 20px;
    margin: 10px 0;
    font-family: BoldInter;
    cursor: pointer;
}

.main-div2 h1:hover {
    color: #F3A436;
    transition: 0.3s
} 

.main-div2 span {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.539);
    font-family: RegularInter;
}

.last-div {
    margin: 100px 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-gap: 25px; */
}

.last-div-child {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 20px;
}

.last-div-child img {
    width: 100px;
    height: 127px;
}

.last-text .number {
    color: rgba(128, 128, 128, 0.5);
    font-weight: 300;
    font-size: 20px;
    font-family: VariableInter;
}

.last-text h4 {
    font-family: BoldInter;
}

.last-text p {
    font-family: RegularInter;
}

/* .last-div-img {
    width: 100px;
    height: 127px;
} */
.attribution { 
    font-size: 11px;
     text-align: center;
     box-shadow: 3px 3px 7px rgb(226, 218, 218);
     /* width: 300px; */
     padding: 20px;
     margin: 80px 20px;
 }
    
.attribution a {
     color: hsl(228, 45%, 44%);
 }